* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root {
  --black: #000;
  --white: #FFF;
  --light-gray: #F3F4F6;
  --purple: #652CD1;
  --light-silver-gray: #D2D5DA;
}


body {
  background-color: var(--white);
  font-family: "Outfit", sans-serif;
  max-width: 40rem;
  min-height: 100vh;
  padding: 0 5rem;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sneaker-img {
  border-radius: 0.2rem;
  margin: 2rem 0;
}


.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 9rem;
}


ul li.gray {
  color: var(--light-silver-gray);
}


.the-product {
  width: 21.875rem;
  padding: 1.1rem;
  color: var(--black);
}


.the-product h1 {
  font-size: 1.4rem;
  width: 100%;
}


.the-product p {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1rem;
}


.product-specs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}


.product-specs h2 {
  font-size: 1rem;
}


.product-specs ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
  font-size: 1rem;
  padding: 0.1875rem;
}


.product-details {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0.7rem 1.5rem; */
  margin-top: 1.26rem;
  border-radius: .3125rem;
  
  margin-left: auto;
  margin-right: auto;
}


.product-details div {
  margin: 1rem 1rem;
  padding: 0;
}


.product-details div p {
  font-size: 0.937rem;
  margin: 0;
 }
 
 
.product-details div .l-gray {
  color: var(--light-silver-gray);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
 }
 
 
div .b-lack {
   font-size: 0.8rem;
   color: var(--black);
   font-weight: 600;
 }
 
 
.product-details .left {
  margin-left: 3.375rem;
}


.product-details .center {
  margin-right: auto;
  margin-left: auto;
}


.the-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5px;
}