* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root {
  --black: #000;
  --white: #FFF;
  --light-gray: #F3F4F6;
  --purple: #652CD1;
  --light-silver-gray: #D2D5DA;
}


body {
  background-color: var(--white);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  padding: 0 1.25rem;
  /* change from max-width 40rem to 100% so that the layout will work on any device and not restricted to 640px
  */
  max-width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*Figure: Add max-width
   600px because of large
   screens and it should
   take the whole width as
   in width: 100%
*/
figure {
  width: 100%;
  max-width: 600px;
  margin: 0;
}


.sneaker-img {
  border-radius: 0.2rem;
  margin: 2rem 0;
  
  /* I use some images in html and   because if this, i want the
    shoe img to scale properly &
    and not too big on small screens
    or too small on large screens. 
    width was made to fill the
    container width and max-wdith
    so used so that img does exceed
    the container (600px)
  */
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}


.breadcrumb {
  width: 100%;
  text-align: left;
  align-self: flex-start;
} 


.breadcrumb ul {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}


ul li.text-gray {
  color: var(--light-silver-gray);
}


.breadcrumb a {
  color: inherit;
}


.product-info {
  color: var(--black);
  /* Remove width: 21rem & add width: 100% & max-width: 600px. This is because 21rem was too cramp on 600px+ screens and i want it to fill available space, I also restrict it
    with max-width of 37rem so it do-
    es become too long on tablets
  */
  width: 100%;
  max-width: 37.5rem;
}


.product-info h1 {
  font-size: 1.4rem;
  width: 100%;
}


.product-info p {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1rem;
}


.product-specs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}


.product-specs h2 {
  font-size: 1rem;
  font-weight: 600;
}


.product-specs ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
  font-size: 1rem;
  padding: 0.1875rem;
}


.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--light-gray);
  align-items: center;
  width: 100%;
  margin-top: 1.26rem;
  border-radius: .3125rem;
  
  margin-left: auto;
  margin-right: auto;
}


.product-details div {
  margin: 1rem 1rem;
  padding: 0;
}


.product-details div dt {
  font-size: 0.937rem;
  margin: 0;
 }
 
 
.product-details div .l-gray {
  color: var(--light-silver-gray);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
 }
 
 
div .b-lack {
   font-size: 0.8rem;
   color: var(--black);
   font-weight: 600;
 }
 
 
.product-details .left {
  margin-left: 3.375rem;
}


.product-details .center {
  margin-right: auto;
  margin-left: auto;
}


.invisible {
  display: none;
}


.product-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0.5rem 0.5rem 0;
  font-size: 0.6875rem;
  
  /* space between button*/
  gap: 1rem;
}


.cart-button {
  background-color: var(--purple);
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border: none;
  color: var(--white);
  cursor: pointer;
  /* Remove width: 9rem, add flex
     1 & max-width: 12.5rem. This is 
     so that the two buttons will
     fill the space and not look 
     too small on 600px+ screens
     and the max-width will stop
     them from being too long on
     tablets
  */
  flex: 1;
  max-width: 12.5rem;
}


.wishlist-button {
  background-color: var(--white);
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  border: 2px solid var(--light-silver-gray);
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* same comment as above*/
  
  flex: 1;
  max-width: 12.5rem;
}


/* The Styles For Tablets */
@media (min-width: 56em) {
  
  body {
    padding: 3rem 3rem;
  }
  
  
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
  
  
  figure {
    flex: 0 0 45%;
    max-width: 31.25rem;
  }
  
  
  .sneaker-img {
    margin: 0;
    border-radius: 0.5rem;
  }
  
  
  .breadcrumb ul {
    font-size: 1.1rem;
  }
  
  
  .product-info {
    flex: 1;
    margin-top: 2.5rem;
    max-width: none;
  }
  
  
  .product-info h1 {
    font-size: 1.75rem;
  }
  
  
  .product-info p {
    font-size: 1.1rem;
    text-align: justify;
  }
  
  
  .product-specs h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
  }
  
  
  .product-specs ul {
    line-height: 1.4;
  }
  
  
  .center .b-lack {
    font-size: 1.6rem;
  }
  
  
  .product-details .l-gray {
    opacity: 2;
  }
  
  
  .cart-button,
  .wishlist-button {
    font-size: 1rem;
    font-weight: 600;
  }
  
}


/* Styles For Desktop Devices */
@media (min-width: 75em) {
  
  body {
    padding: 3rem 4rem;
  }
  
  
  .container {
    gap: 5rem;
  }
  
  
  figure {
    flex: 0 0 40%;
    max-width: 34.375rem;
  }
  
  
  .sneaker-img {
    margin: 0;
    border-radius: 0.5rem;
  }
  
  
  .breadcrumb ul {
    font-size: 1.4rem;
  }
  
  
  .product-info {
    flex: 1;
    margin-top: 2.5rem;
    max-width: none;
  }
  
  
  .product-info h1 {
    font-size: 2rem;
  }
  
  
  .product-info p {
    font-size: 1.2rem;
    text-align: justify;
  }
  
  
  .product-specs h2 {
    font-size: 1.3rem;
    margin-top: 1.1rem;
    font-weight: 600;
  }
  
  
  .product-specs ul {
    line-height: 1.4;
  }
  
  
  .center .b-lack {
    font-size: 1.6rem;
  }
  
  
  .product-details .l-gray {
    opacity: 2;
  }
  
  
  .cart-button,
  .wishlist-button {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
}
